h1{
    font-size: 100px;
    color:rgb(86, 8, 8);
    font-weight: 700;
    text-align: center;
    font-style:normal;
}

h2{
    font-style:normal;
    font-weight: 200;
    font-size: 200;
    text-align: center;
    line-height: 2cap;
}

h3{
    line-height:0cap;
    text-align:center;
    letter-spacing:0cap
}

body{
    background-color: rgb(209, 200, 169);
}


